body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: rebeccapurple; */
}

.app {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.task-form input,
.task-form textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
}

.task-form button {
  width: auto;
  padding: 10px;
  font-size: 16px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
}

.task-form button:hover {
  background-color: #218838;
}

.task-list {
  margin-top: 20px;
}

.task-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  text-align: left;
}

.task-item h3 {
  margin: 0;
}

.task-item p {
  margin: 5px 0;
}

.task-item .actions button {
  margin-right: 10px;
  cursor: pointer;
}

.task-item .actions button:first-child {
  background-color: #ffc107;
  border: none;
  padding: 5px 10px;
}

.task-item .actions button:last-child {
  background-color: #dc3545;
  border: none;
  padding: 5px 10px;
  color: white;
}
